@media screen and (max-width: 635px){
    :root{
        --Almost-White: hsl(0, 0%, 98%);
        --Medium-Gray: hsl(0, 0%, 41%);
        --Almost-Black: hsl(0, 0%, 8%);
    }
    
    *, *::before, *::after {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Epilogue', sans-serif;
    }
    body{
        height: 100vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 8% 92%;
    }
    header{
        width: 100vw;
        padding: 40px 20px;
        display: flex;
        direction: rtl;
        justify-content: space-between;
        align-items: center;
        grid-row: 1 / 2;
    }
    .slide{
        display: none;
    }
    .right, .left{
        display: flex;
        direction: ltr;
    }
    .left{
        width: 100px;
    }
    .right{
        visibility: collapse
    }
    .logo{
        padding-right: 90px;
    }
    .navBox {
        visibility: collapse;
        width: initial;
    }
    .left .navBox{
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navBox div svg {
        position: relative;
        left: 7.5px;
    }
    .right button, .left div {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--Medium-Gray);
        font-weight: 500;
    }
    .logIn{
        background-color: transparent;
        border: none;
        font-weight: 700;
    }
    .register{
        padding: 10px 25px;
        border: 2px solid var(--Medium-Gray);
        border-radius: 12.5px;
    }
    .slide{
        visibility: visible;
        display: block
    }
    .photo img{
        display: none;
        width: 90%;
        height: 100%;
        object-fit: contain;
    }
    .photo img:last-of-type {
        display: inline;
    }
    .container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, auto);
        width: 92vw;
    }
    .photo img{
        width: 100vw;
        height: 100%;
        object-fit: contain;
        margin-top: 10px;
        padding-bottom: 50px;
    }
    img {
        line-height: 0%;
    }
    
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container span{
        padding: 20px;
        font-size: 20px;
        font-weight: 500;
        color: var(--Medium-Gray);
        line-height: 30px;
        text-align: center;
    }
    .container button{
        border: 1px solid var(--Almost-Black);
        background-color: var(--Almost-Black);
        width: 200px;
        height: 60px;
        font-size: 18px;
        font-weight: 500;
        color: var(--Almost-White);
        border-radius: 12.5px;
        position: relative;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    .logoBox{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 20px;
        height: fit-content;
    }
    .logoBox svg{
        width: 25%;
        height: auto
    
    }           
}